<div class="logo-container">
    <img src="../../../../assets/logo.png" class="logo">
</div>
<div class="search-container">
    <p class="control has-icons-left has-icons-right ">
        <input class="input is-rounded is-info is-hovered is-medium" type="text" src="../../../../assets/Icons/magnifying-glass.png" placeholder="Search...">
        <span class="icon is-small is-left search-icon">
            <i><img src="../../../../assets/Icons/magnifying-glass.png"></i>
        </span>
    </p>
</div>