.logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chocolate; */
}

.logo {
    height: 100%;
    width: 50%;
}

.search-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-buttons {
    width: 20%;
    height: 90%;
}

.search-icon{
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 60%;
    left: 80%;
    top: 20%;
}