.logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

.logo {
    height: 100%;
    width: 50%;
}

.search-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 28, 12);
}