<div class="logo-container">
    <h1 class="supermarket-title">Supermarket</h1>
</div>
<div class="search-container">
    <p class="control has-icons-left has-icons-right ">
        <i><img class="search-icon" src="../../../../assets/Icons/magnifying-glass.png"></i>
        <input class="input is-rounded is-info is-hovered is-medium" type="text" src="../../../../assets/Icons/magnifying-glass.png" placeholder="Search...">
    </p>
</div>

<div class="login-container">
    <img src="../../../../assets/Icons/log-in.png" class="login-buttons" alt="loading">
    <img src="../../../../assets/Icons/signup.png" class="login-buttons" alt="loading">
</div>