.logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chocolate; */
}

.supermarket-title {
    color: #515151;
    font-family: 'Quicksand', sans-serif;
    font-size: 4.5rem;
    font-style: oblique;
}

.super-title {
    text-decoration: underline;
    color: #a660e0;
}

.market-title {
    color: #b6b6fb;
}

.cart-title {
    width: 10%;
}

.search-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-buttons {
    width: 25%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;
}

.login-buttons:hover {
    height: 100%;
    width: 30%;
    transition-duration: 0.3s;
}

.search-icon {
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 60%;
    left: 80%;
    top: 20%;
}

.loggedUserContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-buttons {
    width: 18%;
    height: 75%;
    margin-left: 5%;
    cursor: pointer;
}

.helloUser {
    color: #515151;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-style: oblique;
}

.dropdown-container {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 20vw;
    height: 10vh;
    bottom: 10vh;
    background-color: #a660e0;
}