<div class="logo-container">
    <span class="supermarket-title"><img src="../../../../assets/Icons/grocery-cart.png" alt="" srcset=""></span>
    <span class="supermarket-title super-title">Super</span>
    <span class="supermarket-title market-title">Market</span>
</div>
<div class="search-container">
    <p class="control has-icons-left has-icons-right ">
        <i><img class="search-icon" src="../../../../assets/Icons/magnifying-glass.png"></i>
        <input class="input is-rounded is-info is-hovered is-medium" type="text"
            src="../../../../assets/Icons/magnifying-glass.png" placeholder="Search...">
    </p>
</div>

<div class="login-container">
    <img src="../../../../assets/Icons/log-in.png" class="login-buttons" alt="loading">
    <img src="../../../../assets/Icons/signup.png" routerLink="/signup" class="login-buttons" alt="loading">
</div>

