<div class="signup-container">
    <h1>New Product</h1>
    <hr>
    <form #signupForm1="ngForm"  class="input-container">
        <input class="is-info signup-inupt is-large input" type="username" placeholder="product name" name="username"
            ngModel><br>
        <input class="is-info signup-inupt is-large input" type="number" placeholder="Price" name="password"
            ngModel><br>
        <input class="is-info signup-inupt is-large input" type="text" placeholder="caregory"
            name="confirmPassword" ngModel><br>
        <input class="is-info signup-inupt is-large input" type="file"  name="idNumber"
            ngModel><br>
        <button class="button is-link is-light is-large signup-inupt signup-button" type="submit">Create New Product</button>
    </form>
</div>