<div class="header">
    <br>
    <h1 class="hello-head">Hello '{{user}}'</h1>
    <h2 class="order-head">Your Orders History</h2>
    <a class="homepage-navigation" href="/Home">Home Page</a>
</div>
<br>
<div class="table-main">
    <table class="table table-hover">
        <thead>
            <tr class="head-row">
                <th id="rowrow">Total Price</th>
                <th>City</th>
                <th>Street</th>
                <th>Shipping Date</th>
                <th>Credit Card</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1363$</td>
                <td>Jerusalem</td>
                <td>Shamai 14</td>
                <td>17/05/22</td>
                <td>1234</td>
            </tr>
        </tbody>
    </table>
</div>