<form class="signup-container">
    <h1>Sign Up</h1>
    <div class="signup-icon">
        <img class="signup-icon" src="../../../assets/Icons/man.png">
    </div>
    <hr>
    <div class="input-container">
        <input class="is-info signup-inupt is-large input" type="text" placeholder="First Name" name="firstName" required><br>
        <input class="is-info signup-inupt is-large input" type="text" placeholder="Last Name" name="lastName" required><br>
        <input class="is-info signup-inupt is-large input" type="username" placeholder="Username" name="username" required><br>
        <input class="is-info signup-inupt is-large input" type="password" placeholder="Password" name="password" required><br>
        <input class="is-info signup-inupt is-large input" type="number" placeholder="ID Number" name="idNumber" required><br>
        <select class="is-info signup-inupt is-large select">
            <option class="is-info signup-inupt is-large select" *ngFor="let city of cities" value={{city}}>{{city}}</option>
          </select><br>
        <input class="is-info signup-inupt is-large input" type="text" placeholder="Street" name="street"><br>
        <button class="button is-link is-light is-large signup-inupt signup-button" type="submit">Sign Up</button>
    </div>
</form>