.navbar-container {
    background-color: antiquewhite;
    height: 30vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-up-container {
    border: 1px solid;
    border-color: black;
    height: 40%;
}

.navbar-down-container {
    border: 1px solid;
    border-color: black;
    height: 60%;
}