<div class="sidebar-container card">
    <div class="basket-container">
        <app-basket-product></app-basket-product>
        <app-basket-product></app-basket-product>
        <app-basket-product></app-basket-product>
        <app-basket-product></app-basket-product>
    </div>
    <div class="order-button">
        <a>
            <img class="order-img" src="../../../assets/Icons/loan.png" alt="loading">
            <span class="order-text">Place Order</span>
        </a>
    </div>

</div>